<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/common.css}" />
</head>
<body>

    <div th:insert="navbar.html"></div>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <h5></h5>
    </div>

    <div class="card text-center" style="height: 500px;">
        <br><br>

        <div class="card container bg-light border-dark mb-3" style="max-width: 500px;">
            <br>
            <h4 class="card-title text-center">Enter your student number to submit your preferences</h4>
            <hr>

            <form method="POST" action="/preferences">
                <div class="form-group">
                    <div class="d-flex justify-content-start input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                        </div>
                        <input class="form-control" placeholder="Student Number" type="number" id="studentNum" name="studentNum">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <button class="btn btn-default" type="submit">Submit</button>
                </div>
                <br>
            </form>
        </div>
        <br><br>
    </div>

    <footer class="text-center">
        <br>
        <p>&copy; MoRoJack</p>
    </footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>